.feedback {
  min-height: 670px;
  background: $blue url("../img/feedback-bg-desktop.svg") right 35px no-repeat;

  @media (max-width: $tablet) {
    min-height: 664px;
    background: $blue none right 35px no-repeat;
  }

  @media (max-width: $mobile) {
    min-height: 640px;
  }
}

.feedback__inner {
  display: flex;
  max-width: 1566px;
  height: 100%;
  min-height: 670px;
  margin: 0 auto;
  padding: 0 25px 89px 0;

  @media (max-width: $tablet) {
    max-width: 641px;
    min-height: 664px;
    padding: 80px 25px 89px;
    background: none;
  }

  @media (max-width: $mobile) {
    max-width: 100%;
    min-height: 640px;
    padding: 30px 15px 33px;
  }
}

.feedback__inner h2 {
  margin: 0 0 10px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $tablet) {
    margin: 0 0 16px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile) {
    margin: 0 0 13px;
    font-size: 28px;
    line-height: 39px;
  }
}

.feedback__inner p {
  margin: 0 0 51px 3px;
  color: $white;

  @media (max-width: $tablet) {
    margin: 0 0 54px 3px;
  }

  @media (max-width: $mobile) {
    margin: 0 0 27px;
  }
}

.feedback__image-wrapper {
  width: 44.5%;
  min-height: 641px;
  margin: -60px 7.2% 0 0;
  background: url("../img/feedback-image-desktop.png") 0 center / contain no-repeat;

  @media (min-resolution: 2dppx) {
    background: url("../img/feedback-image-desktop@2x.png") left -60px / 686px 637px no-repeat;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.feedback__form-wrapper {
  position: relative;
  max-width: 570px;
  padding: 91px 0 0;

  @media (max-width: $tablet) {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}

.feedback__form div {
  &:nth-child(1),
  &:nth-child(2) {
    width: 47.5%;
    margin-bottom: 41px;
    background-color: $blue;
  }

  &:nth-child(3) {
    width: 100%;
    min-height: 155px;
    margin-bottom: 36px;
    background-color: $blue;
  }

  &:last-child {
    position: relative;
    width: 46%;
    line-height: 16px;
  }

  @media (max-width: $tablet) {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 44px;
    }

    &:nth-child(3) {
      min-height: 158px;
      margin-bottom: 41px;
    }
  }

  @media (max-width: $mobile) {
    &:nth-child(1),
    &:nth-child(2) {
      width: 100%;
      margin-bottom: 33px;
    }

    &:nth-child(3) {
      min-height: 103px;
      margin-bottom: 24px;
    }

    &:last-child {
      width: auto;
      margin: 0 auto;
    }
  }
}

.feedback__form input[type="text"] {
  width: 100%;
  padding: 14px 19px 17px;
}

.feedback__form input[type="tel"] {
  width: 100%;
  padding: 14px 19px 17px;
}

.feedback__form textarea {
  width: 100%;
  min-height: 155px;
  padding: 14px 19px 15px;

  @media (max-width: $tablet) {
    min-height: 158px;
    padding: 14px 19px 19px;
  }

  @media (max-width: $mobile) {
    min-height: 103px;
  }
}

.feedback__form button {
  width: 270px;
  margin-left: 3px;
}

.feedback__form label[for="agreement"] {
  display: block;
  padding: 8px 5px 8px 33px;

  @media (max-width: $tablet) {
    padding: 9px 5px 9px 38px;
  }

  @media (max-width: $mobile) {
    padding: 9px 5px 9px 34px;
  }
}

.feedback__form input[type="checkbox"] {
  bottom: 0;
  left: 8px;

  @media (max-width: $tablet) {
    left: 12px;
  }
}

.feedback__form input[type="checkbox"]:checked + label[for="agreement"] {
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 4px;
    width: 9px;
    height: 6px;
    background: url("../img/checkbox-icon.svg") 0 0 no-repeat;
    cursor: pointer;
  }

  &:hover,
  &:active {
    &::after {
      background: url("../img/checkbox-hover-icon.svg") 0 0 no-repeat;
    }
  }

  @media (max-width: $tablet) {
    &::after {
      left: 8px;
    }
  }

  @media (max-width: $mobile) {
    &::after {
      left: 4px;
    }
  }
}
