.feedback-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;
  justify-content: center;
  background-color: fade-out($dark, 0.4);
  overflow: auto;
}

.feedback-modal--show {
  display: flex;
  align-items: center;
}

.feedback-modal--show-overflow {
  display: flex;
  align-items: flex-start;
}

.feedback-modal__form-wrapper {
  position: relative;
  width: 490px;
  padding: 30px 40px 28px;
  background-color: $blue;
  overflow: visible;
}

.feedback-modal__form-wrapper h2 {
  margin: 0 0 13px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  color: $white;
}

.feedback-modal__form-wrapper p {
  margin: 0 0 30px;
  color: $white;
}

.feedback-modal__form input[type="text"] {
  width: 100%;
  margin-bottom: 28px;
  padding: 16px 24px 20px;
}

.feedback-modal__form input[type="tel"] {
  width: 100%;
  margin-bottom: 28px;
  padding: 16px 24px 20px;
}

.feedback-modal__form textarea {
  width: 100%;
  min-height: 107px;
  margin-bottom: 28px;
  padding: 15px 25px 18px;
}

.feedback-modal__form button {
  width: 100%;
}

.feedback-modal__form label[for="agreement-modal"] {
  order: 50;
  width: 100%;
  margin: 26px 0 0 0;
  padding: 9px 15px 9px 48px;
  color: $white;
}

.feedback-modal__form input[type="checkbox"] {
  bottom: 0;
  left: 0;
}

.feedback-modal__close-button {
  position: absolute;
  top: 11px;
  right: 11px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 17px;
    height: 17px;
    background: url("../img/close-icon.svg") 0 0 no-repeat;
  }

  &:hover {
    &::before {
      background: url("../img/close-icon-hover.svg") 0 0 no-repeat;
    }
  }

  &:focus,
  &:active {
    &::before {
      background: url("../img/close-icon-hover.svg") 0 0 no-repeat;
      opacity: 0.6;
    }
  }
}

.feedback-modal__form input[type="checkbox"]:checked + label[for="agreement-modal"] {
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 4px;
    width: 9px;
    height: 6px;
    background: url("../img/checkbox-icon.svg") 0 0 no-repeat;
    cursor: pointer;
  }

  &:hover,
  &:active {
    &::after {
      background: url("../img/checkbox-hover-icon.svg") 0 0 no-repeat;
    }
  }

  @media (max-width: $mobile) {
    &::after {
      left: 4px;
    }
  }
}
