.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Times New Roman", serif;
}

.page__advantages-wrapper {
  background: url("../img/advantages-bg-desktop.svg") 0 -29px / cover no-repeat;

  @media (max-width: $tablet) {
    background: url("../img/advantages-bg-tablet.svg") 101% 90px no-repeat;
  }

  @media (max-width: $mobile) {
    background: url("../img/advantages-bg-mobile.svg") 101% 652px no-repeat;
  }
}
