.products {
  background-color: $dark-blue;
}

.products__inner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 88px 25px 127px;

  @media (max-width: $tablet) {
    padding: 50px 22px 78px 26px;
  }

  @media (max-width: $mobile) {
    padding: 50px 15px 64px;
  }
}

.products__inner h2 {
  margin: 0 0 52px;
  font-family: $roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @media (max-width: $tablet) {
    margin: 0 0 49px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile) {
    margin: 0 0 42px 10px;
    font-size: 28px;
    line-height: 39px;
  }
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 1170px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    grid-row-gap: 46px;
  }

  @media (max-width: $mobile) {
    grid-row-gap: 30px;
  }
}

.products__item {
  max-width: 370px;
  height: 100%;
  overflow: hidden;

  &:hover {
    filter: brightness(1.2);
  }

  @media (max-width: $tablet) {
    width: 100%;
    max-width: 100%;
    height: 256px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    height: 256px;
  }
}

.products__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: $white;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63px;
    height: 63px;
    background: $blue url("../img/services-arrow-icon.svg") 31px 27px no-repeat;
  }

  &:hover {
    color: $blue;
  }
}

.products__item h3 {
  position: absolute;
  top: 50px;
  left: 44px;
  width: 45%;
  margin: 0;
  font-family: $roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: inherit;

  @media (max-width: $tablet) {
    top: 40px;
    width: 25%;
  }

  @media (max-width: $mobile) {
    top: 20px;
    left: 35px;
    width: 59%;
  }
}

.products__link img {
  display: block;
  width: 370px;

  @media (max-width: $tablet) {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: $mobile) {
    width: 100%;
    object-fit: cover;
  }
}
