// colors

$dark-blue: #1b2d37;
$white: #ffffff;
$blue: #00b2ff;
$dark: #1b2d37;
$grey: #626962;
$light-grey: #fafafa;
$dark-grey: #c4c4c4;
$darkest-grey: #666666;
$lightest-grey: #ebebeb;
$middle-grey: #cdcdcd;

// fonts

$roboto: "Roboto Condensed", "Arial", sans-serif;

// viewports

$mobile: 767px;
$tablet: 1023px;
